#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  display: flex;
  max-width: 920px;
  align-items: center;
  flex-direction: column;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.main-search {
  display: flex;
  flex-direction: row;
}