$only-mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
$not-desktop: "(max-width: 1023px)";
$desktop-xl: "(min-width: 1360px)";

@mixin only-mobile {
    @media #{$only-mobile} {
        @content;
    }
}

@mixin not-desktop {
    @media #{$not-desktop} {
        @content;
    }
}

@mixin tablet {
    @media #{$tablet} {
        @content;
    }
}

@mixin desktop {
    @media #{$desktop} {
        @content;
    }
}

@mixin desktop-xl {
    @media #{$desktop-xl} {
        @content;
    }
}
